<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<h3>Reserva hecha</h3>
<p>La reserva {{ reservationId }}, con cargo de {{ reservationPrice }} € se ha registrado satisfactoriamente.</p>
</body>
</html>