<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<h3>Pago de la reserva</h3>
<p>Estimado cliente. Su reserva se ha registrado correctamente.</p>
<p>Para completar el proceso, por favor proceda a ingresar {{ reservationPrice }} €
    en una de las siguientes cuentas:</p>
<p>Procedimiento: transferencia bancaria</p>
<p>Concepto: {{ reservationId }}</p>
<p>Cuenta Santander: [ES02] 2034 0001 56 0970659884</p>
<p>Cuenta Bankinter: [ES23] 3452 0023 43 8782728482</p>
<p>Cuenta BBVA: [ES86] 9867 9001 00 9856343300</p>

<p>Le indicamos que dispone de 48 horas para efectuar el pago a fin de hacer efectiva su reserva.</p>
</body>
</html>